@model DepartamentoModel
@{
    ViewData["Title"] = "Cadastrar Departamento";
}

<div class="container text-center">

    <div class="vidro d-flex justify-content-center align-items-center">

        <h1 class="display-4 mb-0">@ViewData["Title"]</h1>

        <form class="formulario" method="post" asp-controller="Departamentos" asp-action="Cadastrar">
            <div class="mb-3">
                <label class="form-label">Nome do novo departamento:</label>
                <input type="text" class="form-control" placeholder="Ex: Financeiro" asp-for="Nome" required/>
            </div>

            <button class="btn btn-light my-3" type="submit">Cadastrar</button>
        </form>
    </div>
</div>