@model List<DepartamentoModel>

@{
    ViewData["Title"] = "Lista de Departamentos";
}

<div class="container text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="vidro">
    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-info">Nenhum departamento cadastrado</div>
    }
    else
    {
        <table class="table table-light table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var departamento in Model)
            {
                <tr>
                    <td>@departamento.Id</td>
                    <td>@departamento.Nome</td>
                </tr> 
            }
            </tbody>
        </table>
    }
    </div>
</div>
