@model UsuarioModel

@{
    ViewData["Title"] = "Excluir Usu치rio";
    var usuarios = ViewBag.Usuarios as List<UsuarioModel>;
}

<div class="container text-center">
    
    <div class="vidro">

        <h1 class="display-4 mb-0">@ViewData["Title"]</h1>
        
        @* ------------------------------------ *@
        @* Campo seletor/localizador de usu치rio *@
        @* ------------------------------------ *@
        
        <div class="my-2 w-50 seletor-localizar" id="seletor">
            <label class="form-label">Selecione o usu치rio</label>
            <select id="selectUsuario" class="form-select">
                <option value="">-- Selecione --</option>
                @foreach (var user in usuarios)
                {
                    <option value="@user.Id">@user.Nome</option>
                }
            </select>

            <button id="btnLocalizar" class="btn btn-dark my-3">Localizar</button>
        </div>

        @* ------------------------------------ *@
        @*              Formulario              *@
        @* ------------------------------------ *@

        <form id="formExcluir" method="post" asp-action="Excluir" class="formulario" style="display:none;">
            
            <input type="hidden" asp-for="Id" id="inputId"/>
            
            <div class="mb-3">
                <label asp-for="Id" class="form-label">ID</label>
                <input asp-for="Id" class="form-control" id="campoId" disabled/>
            </div>
            
            <div class="mb-3">
                <label asp-for="Nome" class="form-label">Nome</label>
                <input asp-for="Nome" class="form-control" id="campoNome" disabled/>
            </div>
            
            <div class="mb-3">
                <label asp-for="Departamento" class="form-label">Departamento</label>
                <input asp-for="Departamento" class="form-control" id="campoDepartamento" disabled/>
            </div>
            
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>

        <div id="erro" class="alert alert-danger mt-3" style="display:none;">
            Ocorreu um erro ao buscar o usu치rio.
        </div>
    </div>
</div>

<script src="~/js/Usuarios/excluirUsuario.js" asp-append-version="true"></script>
