@model List<UsuarioModel>

@{
    ViewData["Title"] = "Lista de Usuários";
}

<div class="container text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="vidro">
        @if (Model == null || !Model.Any())
        {
            <div class="alert alert-info">Nenhum usuário cadastrado</div>
        }
        else
        {
            <table class="table table-light table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Departamento</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Id</td>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Departamento.Nome</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>