@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="index-container">
    <h1 class="display-1 fw-bolder">S.A.T</h1>
    <h5 class="fs-2 fw-lighter fst-italic">Sistema de Atendimento Técnico</h5>
    <div id="index-caixa-texto">
        <p>Sistema desenvolvido com o intúito de facilitar o contato entre técnico e colaboradores.</p>
        <p>Utilize o menu no canto superior esquerdo para acessar as funcionalidades</p>
    </div>
    
</div>